<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
    div  {
  width: 300px;
  margin: auto;
  border: 3px solid #4287f5;
  margin-top: 150px;
}


h1 {
  text-align: center;
  color: #4287f5;
}
</style>
<head>
    <div>
    <h1 class="lead">IMEI Is Added To Database</h1>
    <form>
        <center><input type="button" value="Go back" onclick="history.back()"></center>
       </form>
</div>
</head>

<body>
